body {
    background-color:#EAF6F6;
}

hr {
    background-color:none; 
    
    border-style: dotted none none none;
    /* 上面一行换一种方式
    border-style: none;
    border-top-style: dotted; */
    border-width:5px;
    width:5%;
    color:grey;
}

h1{
    color:#66BFBF;
}

h3{
    color:#66BFBF;
}