body{
    margin:0;
    text-align: center;
    font-family:'Merriweather', serif;
}

h1{
    color:#66BFBF;
    margin-top: 0;
    font-family:'Sacramento',cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2{
    font-weight:normal ;
    color:#66BFBF;
    font-family:'Merriweather', sans-serif;
    font-size: 2.5rem;
    margin-top: 60px;
}

h3{
    color:#11999E;
    font-family:'Merriweather', sans-serif;
}


.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
   
}

.la{
    margin-bottom: 80px;
}

.bottom-container{
    background-color: #66BFBF;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
}

.pic{
    margin-top: 50px;
}




.skill-row{

    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width:25%;
    float:left;
    margin-right: 30px;
}

.chilli-img{
    width:25%;
    float:right;
    margin-left: 30px;
}

.pro{
    text-decoration: underline;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left:300px;
    bottom: 300px;
}

hr{
    background-color:none; 
    
    border-style: dotted none none none;
    /* 上面一行换一种方式
    border-style: none;
    border-top-style: dotted; */
    border-width:5px;
    width:5%;
    color:#EAF6F6;
    margin-top: 50px;
}

.footer-link {
    color:#11999E; 
}

.copyright{
    color:#EAF6F6;
    margin: 30px auto;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #faffff;
    font-size: 20px;
    background: #59b562;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #fc3ce9;
    text-decoration: none;
  }
